.btn_start,
.quiz_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.score_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    text-align: center;
    border: 1px solid #151D3B;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px gray;
}
.score_box button{
    padding: 10px;
    margin: 50px;
}
.score_box.deactive{
    opacity: 0;
    pointer-events: none;
}
.btn_start.deactive{
    opacity: 0;
    pointer-events: none;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.badge{
    padding: 6px 13px;
}
.option.disabled{
    pointer-events: none;
}
.timer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8d7da;
    color: #151D3B;
    border-radius: 5px;
    padding: 6px 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.time_second span{
    margin-left: 5px;
}
.timer span{
    font-size: 16px;
    font-weight: 400;
}
.score_box p{
    font-size: 25px;
    font-weight: 600;
}
.score_box.active{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.quiz_box.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.quiz_box,.score_box {
    width: 550px;
    transform: translate(-50%, -50%) scale(0.7);
    transition: all 0.5s ease;
    opacity: 0;
    pointer-events: none;
}

.quiz_box header .title {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.quiz_box .question_text {
    font-size: 20px;
    font-weight: 600;
}

.quiz_box .option_list {
    padding: 18px 0;
}

.quiz_box .option_list .option {
    border: 1px solid #151D3B;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz_box .option_list .option:hover {
    color: #fff;
    background: #151D3B;
}

.quiz_box .option_list .option.correct {
    color: #155724;
    background: #d4edda;
}

.quiz_box .option_list .option.incorrect {
    color: #721c24;
    background: #f8d7da;
}
.quiz_box .option_list .option.disabled {
    pointer-events: none;
}

